[submodule "PIMLibrary"]
        path = PIMLibrary
        url = git@github.com:SAITPublic/PIMLibrary.git
        branch = develop
[submodule "PIMSimulator"]
        path = PIMSimulator
        url = git@github.com:SAITPublic/PIMSimulator.git
        branch = dev
[submodule "PIMMock"]
        path = PIMMock
        url = git@github.com:SAITPublic/PIMMock.git
        branch = master
[submodule "PimPyLibrary"]
        path = PimPyLibrary
        url = git@github.com:SAITPublic/PimPyLibrary.git
        branch = master
[submodule "PIMPatches"]
        path = PIMPatches
        url = git@github.com:SAITPublic/PIMPatches.git
        branch = main
[submodule "SYCL-Extension-Document"]
        path = SYCL-Extension-Document
        url = git@github.com:SAITPublic/SYCL-Extension-Document.git
        branch = master
[submodule "PimAiCompiler"]
        path = PimAiCompiler
        url = git@github.com:SAITPublic/PimAiCompiler.git
        branch = master
[submodule "PIMmodels"]
        path = PIMmodels
        url = git@github.com:SAITPublic/PIMmodels.git
        branch = main
[submodule "PNMLibrary"]
        path = PNMLibrary
        url = git@github.com:SAITPublic/PNMLibrary.git
        branch = master
